@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(2 6 23);
  color: rgb(226 232 240);
}

#root {
  min-height: 100vh;
}
